@import "./sass/app";
@import"./sass/home";


/*GLOBAL*/
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    background-color:#EEE ;
    color:#444;
    
    strong{font-weight: 600;
    }
    
    h1{
    color:#1e1e1e;
    font-weight: 600;
      }
    h2{
    color:#1e1e1e;
    font-weight: 600;
    }
    h3{
    color:#1e1e1e;
    font-weight: 600;
        }
        h4{
        color:#1e1e1e;
        font-weight: 600;
        }
        h5{
            color:#1e1e1e;
            font-weight: 600;
            }
            h6{
                color:#1e1e1e;
                font-weight: 600;
                }
    .italic{
font-style: italic;
    }
    hr {
        border: none;
        color: #0d6efd;
        overflow: visible;
        text-align: center;
        height: 5px;
      }  
}

.bascard{
    background-color:#EEE ;
   
}
//@import '~bootstrap/scss/bootstrap';